:root {
    font-family: Arial, sans-serif;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.header-frame h1 {
    font-size: 56px;
}

.container{
    width: 700px;
    margin: 30px auto;
    padding: 5px;
}

.header-section{
    width: 700px;
    height: 310px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.img-frame{
    margin: 0px 5px 10px 50px;
}

.img-frame img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.links{
    margin: 25px 0px;
}

.links a{
    color: #599DD9;
    display: inline;
    font-weight: 1000;
}

.bottom_image{
    display: flex;
    justify-content: center;
}